.App {
  text-align: center;
}

.modalCancelBtn,
.modalConfirmBtn {
  padding: 7px 12px;
  color: white;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  filter: brightness(.9);
  width: 120px;
  height: 50px;
  background: #800500;

  .modalCancelBtn:hover,
.modalConfirmBtn:hover {
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
  filter: brightness(1);
}

.modalCancelBtn:active,
.modalConfirmBtn:active {
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
  filter: brightness(1);
}
}

.modalCancelBtn2,
.modalConfirmBtn2 {
  padding: 7px 12px;
  color: #800500;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  filter: brightness(.9);
  width: 120px;
  height: 30px;
  background: white;

  .modalCancelBtn2:hover,
.modalConfirmBtn2:hover {
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
  filter: brightness(1);
}

.modalCancelBtn2:active,
.modalConfirmBtn2:active {
  box-shadow: 0 0 4px 0 rgba(34, 60, 80, 0.6);
  filter: brightness(1);
}
}


